

.mark_0 {
  background: #f66;
  font-weight: bold;
}

.mark_1  {
  background: #FA8280;
}

.mark_2  {
  background: #F59E9A;
}

.mark_3  {
  background: #F0BAB4;
}

.mark_4  {
  background: #EBD6CE;
}

.mark_5  {

}

